# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/
venv/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Testing
.pytest_cache/
htmlcov/
.coverage

# Node (jeśli będziesz miał Tailwind przez npm)
node_modules/